body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

#filter-container {
  display:flex;
  flex-direction: column;
  border:solid;
  margin:20px 0px;
}

#filter-title {
  margin: 10px;
}

#filters-and-details {
  display:flex;
  height: 500px;

}

#filter-box {
  padding:0;
}

#filter-list {
  height:100%;
  overflow-y: scroll;
  list-style: none;
  padding:0;
  margin:0;
}

#filter-list li {
  border: solid;
  margin:10px;
  padding:10px;
  min-height: 100px;
}

.filters-and-details-item {
  border:solid;
  margin:10px;
  flex:1;
}

#queried-information {
  border:solid;
  min-height: 800px;
  min-width: 1000px;
}

#profile-and-statistics {
  display:flex;
  min-height:200px;
}

#profile {
  border:solid;
  flex:1;
}

#statistics {
  border:solid;
  flex:2;
}

.profile-statistics-item {
  margin:10px;
  padding:10px;
}

.profile-container {
  display:flex;
}

#profile-summoner-info {
  margin:10px;
}

#summoner-icon {
  border: solid;
  width: 80px;
  height: 80px;
}

#profile-ranked-info {
  margin:10px;
}

#tier-icon {
  border: solid;
  width: 80px;
  height: 80px;
}

#match-history {
  border:solid;
  margin:10px;
  height:100%;
  display:flex;
}

#sidebar {
  border:solid;
  margin:10px;
  min-width: 300px;
  height:100%;
  flex: 1;
}

#matches {
  flex: 3;
}

.match {
  margin:10px;
  border: solid;
  min-height: 150px;
}


#page-navigation {
  margin: 10px auto;
  border:solid;
  height:80px;
  width: 300px; 
  overflow:auto;
  display:flex;
}

#page-navigation > button{
  margin:5px;
  border:solid;
  min-width: 50px;
  font-size: 20px;
}

.selected {
  border-color:red;
}